<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bergscott.android.gamestore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProductCatalogActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SupplierCatalogActivity"
            android:parentActivityName=".ProductCatalogActivity"
            android:label="Edit Suppliers">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductCatalogActivity" />
        </activity>

        <activity
            android:name=".EditSupplierActivity"
            android:parentActivityName=".SupplierCatalogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SupplierCatalogActivity" />
        </activity>

        <activity
            android:name=".EditProductActivity"
            android:parentActivityName=".ProductCatalogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductCatalogActivity" />
        </activity>

        <activity
            android:name=".ProductDetailActivity"
            android:label="Product Detail"
            android:parentActivityName=".ProductCatalogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProductCatalogActivity" />
        </activity>

        <provider
            android:name=".data.GameStoreProvider"
            android:authorities="com.bergscott.android.gamestore"
            android:exported="false" />


    </application>

</manifest>